@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Bebas Neue/BebasNeueRegular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'PT Serif';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/PT Serif/PTSerifRegular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/LatoRegular.woff2') format('woff2'),
      url('/fonts/Lato/LatoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
